<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>Alfa</string>
	<key>B</key>
	<string>Bravo</string>
	<key>C</key>
	<string>Charlie</string>
	<key>D</key>
	<string>Delta</string>
	<key>E</key>
	<string>Echo</string>
	<key>F</key>
	<string>Foxtrot</string>
	<key>G</key>
	<string>Golf</string>
	<key>H</key>
	<string>Hotel</string>
	<key>I</key>
	<string>India</string>
	<key>J</key>
	<string>Juliett</string>
	<key>K</key>
	<string>Kilo</string>
	<key>L</key>
	<string>Lima</string>
	<key>M</key>
	<string>Mike</string>
	<key>N</key>
	<string>November</string>
	<key>O</key>
	<string>Oscar</string>
	<key>P</key>
	<string>Papa</string>
	<key>Q</key>
	<string>Quebec</string>
	<key>R</key>
	<string>Romeo</string>
	<key>S</key>
	<string>Sierra</string>
	<key>T</key>
	<string>Tango</string>
	<key>U</key>
	<string>Uniform</string>
	<key>V</key>
	<string>Victor</string>
	<key>W</key>
	<string>Whiskey</string>
	<key>X</key>
	<string>X-ray</string>
	<key>Y</key>
	<string>Yankee</string>
	<key>Z</key>
	<string>Zulu</string>
</dict>
</plist>
